body{
    margin: 0px;
    padding: 0px;
}
.hero_section .text_content{
    background-color: aquamarine;
    text-align: center;
    padding: 60px 0px;
    margin-top: 80px;
}
.text .container{
    text-align: center;
}
.text_card{
    padding: 30px 0px;
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");